@charset "utf-8";

@media (max-width: 1080px) {
  :root {
    --metric-box-spacing: 1.5rem;
  }
}

@media (max-width: 980px) {
  html,
  body {
    font-size: 90%;
  }
  .header-top {
    align-items: center;
  }
  .social {
    display: none;
  }
  .logo {
    margin-bottom: 1.5rem;
  }
  .slick div img {
    aspect-ratio: 4/5 !important;
  }
  .egresados {
    grid-template-columns: 1fr;
  }
  .w-50 {
    width: 100%;
  }
}
