

/* no me gustó el resultado de esta opción la comento y voy con otra.

@media (min-width: 768px)
{
    img 
    {
        display: block;
        max-width: 100%;
    }

    .carousel-wrapper
    {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 10px;
        overflow: hidden;
        height: 100vh;
    }

    .gallery
    {
        overflow: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .gallery img
    {
        scroll-snap-align: start;
        margin-bottom: 10px;
        min-height: 100vh;
        object-fit: cover;
    }

}*/
