
.hero
{
    position: relative;
    margin-bottom: 5rem;
}

.logo-wrapper
{
    position: relative;
    /*background-color: rebeccapurple;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.5rem;
    
    
    
}

.logo 
{
    width: 110px;
    height: auto;
    padding: 1rem 0;
    border-radius: 30% 30% 50% 50%;
    opacity: 0.8;
    transition: all;
    transition-duration: 300ms;
    z-index: 2;
    
    
    
}

.logo:hover
{
    opacity: 1;
    width: 120px;
    box-shadow: 15px 15px 35px black;    
}

.logo-circle 
{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*z-index: -1;*/
    border-radius: 5% 5% 40% 40%;
    transform: translate(0 -45%);
    
}

.hero-title
{
    font-size: 2rem;
    max-width: 400px;
    line-height: 125%;
    transition: all;
    transition-duration: 300ms;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.title-container
{   
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 6rem;
}



.hero-content
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.hero-content > button
{
    background-color: var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    width: fit-content;
    transition: all;
    transition-duration: 300ms;
}

.hero-content > button:hover
{
    cursor: pointer;
    background-color: var(--primary-color);
    scale: 1.05;
}

.left-floating
{
    width: 150px;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    z-index: -1;
    transform: translate(-40%, 70%) rotate(5deg);
    opacity: 0.7;
}

.right-floating
{
    width: 150px;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    z-index: -1;
    transform: translate(40%, 40%) scaleX(-1) rotate(15deg);
    opacity: 0.7;
    
}

@media (min-width: 768px)
{
    .logo
    {
        opacity: 0.6;
    }
    .logo-wrapper
    {
        height: 6rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    .logo-circle
    {
        padding: 1rem 0;
        border-radius: 2%;
    }
    .hero-title:hover
    {
        font-size: 2.5rem;
        max-width: 425px;
    }
    .title-container
    {
        height: 7rem;
    }
}